
<div class="container">

  <div class="wrapper p-5 text-left">

    <h4>Hi there! How are you doing?</h4>
    <p>I'm thrilled that you've clicked there. Your curiosity means a lot to me, and I'm eager to share knowledge!</p>
    <p>Just as I'm excited to connect with you, I'd love to get to know you better too. If you could take a moment to sign in, it would be truly wonderful. Let's make this interaction more personal and meaningful!</p>
    <p>Thank you for your interest and for being a part of this journey.</p>
    <p>Best regards,<br>{{ site.author.name }}</p>
    <a class="btn btn-outline-primary mt-1" href="{{ site.baseurl }}/">Go Back Home</a>
    <a class="btn btn-outline-primary mt-1" href="#" onclick="signIn()">Sign in</a>
  
  </div>

</div>
