<footer class="mt-auto py-3 text-center">

  <!-- importing bootstrap.js and supporting js libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
  <script type="text/javascript" src="{{ '/assets/js/login/apiConfig.js'}}"></script>
  <script type="text/javascript" src="{{ '/assets/js/login/policies.js' }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/login/authConfig.js' }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/login/ui.js' }}"></script>
  <!-- <script type="text/javascript" src="{{ '/assets/js/login/authRedirect.js'  }}"></script>   -->
  <!-- uncomment the above line and comment the line below if you would like to use the redirect flow -->
  <script type="text/javascript" src="{{ '/assets/js/login/authPopup.js'  }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/login/api.js'  }}"></script>
  
  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong>
  </small>

  {% include social.html %}

  {%- assign theme_name = "An-Indian-IT-Guy" -%}
  {%- assign theme_repo = "https://github.com/An-Indian-IT-Guy/An-Indian-IT-Guy.github.io" -%}
  <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>

</footer>