
<div class="card-columns m-3 mt-5">

  <!-- Remote recipes -->
  {% for remote_recipe in page.remote_recipes %}

    {%- for repo in site.github.public_repositories -%}

      {%- if remote_recipe == repo.name -%}

        {%- assign recipe = repo -%}
        {%- assign words = recipe.name | split: '-' -%}
        
        {%- capture titlecase -%}
          {%- for word in words -%}
            {{ word | capitalize | append: ' ' }}
          {%- endfor -%}
        {%- endcapture -%}

        {%- assign recipe_type  = "remote" -%}
        {%- assign recipe_id    = recipe.name -%}
        {%- assign recipe_img   = false -%}
        {%- assign recipe_name  = titlecase | strip -%}
        {%- assign recipe_desc  = recipe.description -%}
        {%- assign recipe_url   = recipe.html_url -%}
        {%- assign recipe_tools = recipe.topics -%}
        {%- assign external      = true -%}

        {% include recipes/recipes-card.html %}

      {%- endif -%}

    {%- endfor -%}

  {% endfor %}

  <!-- Local recipes -->
  {% for recipe in site.recipes %}

    {%- assign recipe_type  = "local" -%}
    {%- assign recipe_id    = recipe.name | slugify -%}
    {%- assign recipe_img   = recipe.image -%}
    {%- assign recipe_name  = recipe.name -%}
    {%- assign recipe_desc  = recipe.description -%}
    {%- assign recipe_tools = recipe.tools -%}

    {%- if recipe.external_url -%}
      {%- assign recipe_url = recipe.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign recipe_url = recipe.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include recipes/recipes-card.html %}

  {% endfor %}

</div>
